
@font-face {
  font-family: 'GeistMonoVF';
  src: url('../pages/fonts/GeistMonoVF.woff');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #171717;
  font-family: 'GeistMonoVF';

}

.course {
}
.title {
  color: #e0e0e0;
	display: inline;
}
.routename {
	display: inline;
	color: aqua;
}
